<?xml version="1.0"?>
<robot name="diffbot"
  xmlns:xacro="http://www.ros.org/wiki/xacro"
  xmlns:gazebo="http://www.gazebosim.org/schema/gazebo_urdf">

  <!-- ======================= -->
  <!-- === Propiedades === -->
  <!-- Definición de propiedades reutilizables: masas, colores, dimensiones de ruedas y caster -->
  <xacro:property name="chassis_mass" value="0.800" /> <!-- 800g -->
  <!-- Radio de la rueda en metros -->
  <xacro:property name="wheel_radius" value="0.035" /> <!-- 70mm de diámetro = 35mm de radio -->
  <!-- Ancho de la rueda en metros -->
  <xacro:property name="wheel_width" value="0.025" /> <!-- 25mm de ancho -->
  <!-- Ancho entre ruedas en metros -->
  <xacro:property name="wheel_separation" value="0.100" /> <!-- 100mm de ancho del chasis -->
  <!-- Separación entre ruedas en metros -->
  <xacro:property name="caster_origin_xyz" value="-0.075 0 -0.0075" /> <!-- Posición del caster respecto al chasis -->
  <!-- Posición del caster respecto al chasis -->

  <xacro:property name="base_elevation" value="0.055" />
  <xacro:property name="base_color" value="green" />
  <xacro:property name="wheel_color" value="silver" />
  <xacro:property name="caster_color" value="orange" />


  <!-- ======================= -->
  <!-- === Includes === -->
  <!-- Inclusión de archivos xacro auxiliares para macros de inercia y motor -->
  <xacro:include filename="$(find robot_description)/urdf/inertial_macros.xacro" />
  <xacro:include filename="$(find robot_description)/urdf/motor.xacro" />


  <link name="base_footprint" />

  <joint name="base_joint" type="fixed">
    <parent link="base_footprint" />
    <child link="base_link" />
    <origin xyz="0 0 ${base_elevation}" rpy="0 0 0" />
  </joint>

  <!-- ======================= -->
  <!-- === Chasis del robot === -->
  <!-- Link principal del robot: el chasis -->
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find robot_description)/meshes/chassis.stl"/>
      </geometry>
      <material name="${base_color}" />
      <!-- Colo que se visualiza en RViz-->
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.195 0.1 0.005" />
      </geometry>
    </collision>

    <xacro:inertial_box mass="0.8" x="0.195" y="0.100" z="0.005">
      <origin xyz="0 0 0.0525" rpy="0 0 0" />
    </xacro:inertial_box>
  </link>

  <!-- ======================= -->
  <!-- === Macro para ruedas === -->
  <!-- Macro reutilizable para definir una rueda y su joint asociado. Parametrizado por radio y
  separación. -->
  <xacro:macro name="wheel" params="prefix xyz axis rpy">

    <joint name="${prefix}_wheel_joint" type="continuous">
      <parent link="base_link" />
      <child link="${prefix}_wheel_link" />
      <origin xyz="${xyz}" rpy="${rpy}" />
      <axis xyz="${axis}" />
    </joint>

    <link name="${prefix}_wheel_link">
      <visual>
        <origin xyz="0 0 0" rpy="1.5708 0 0" />
        <geometry>
          <mesh filename="file://$(find robot_description)/meshes/wheel.stl"/>
        </geometry>
        <material name="${wheel_color}" />
        <!-- Colo que se visualiza en RViz-->
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="1.5708 0 0" />
        <geometry>
          <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
        </geometry>
        <material name="${wheel_color}" />
      </collision>

      <xacro:inertial_cylinder mass="0.150" radius="${wheel_radius}" length="${wheel_width}"> <!-- 150g -->
        <origin xyz="0 0 0" rpy="0 0 0" />
      </xacro:inertial_cylinder>
    </link>

  </xacro:macro>

  <!-- ======================= -->
  <!-- === Ruedas y motores === -->
  <!-- Instanciación de ruedas y motores usando las macros -->
  <xacro:wheel prefix="left" xyz="0.0185  0.05 -0.0175" axis="0 1 0" rpy="0 1.5708 0"/> <!-- Posición rueda izquierda -->
  <xacro:wheel prefix="right" xyz="0.0185 -0.05 -0.0175" axis="0 -1 0" rpy="0 1.5708 3.14159"/> <!-- Posición rueda derecha -->
  <!-- Motores -->
  <xacro:motor prefix="left" chassis_width="0.1" reflect="false" />
  <xacro:motor prefix="right" chassis_width="0.1" reflect="true" />

  <!-- ======================= -->
  <!-- === Caster (rueda loca) === -->
  <!-- Definición del caster y sus componentes -->
  <!-- BASE FIJA -->

  <joint name="caster_base_joint" type="fixed">
    <parent link="base_link" />
    <child link="caster" />
    <origin xyz="${caster_origin_xyz}" rpy="0 0 0" />
  </joint>

  <!-- BASE FIJA  -->
  <link name="caster">
    <visual>
      <origin xyz="0 0 0.0045" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find robot_description)/meshes/caster_base.stl" />
      </geometry>
      <material name="${caster_color}" />
    </visual>

    <collision>
      <origin xyz="0 0 0.0045" rpy="0 0 0" />
      <geometry>
        <box size="0.032 0.038 0.015" />
      </geometry>
    </collision>

    <xacro:inertial_box mass="0.020" x="0.032" y="0.038" z="0.015"> <!-- 20g -->
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:inertial_box>
  </link>

  <!-- Rueda loca -->
  <joint name="caster_wheel_joint" type="continuous">
    <parent link="caster_wheel_support" />
    <child link="caster_wheel" />
    <origin xyz="-0.015 0 -0.020" rpy="0 0 0" /> <!-- Posición de la rueda giratoria respecto al soporte -->
    <axis xyz="0 1 0" />
  </joint>

  <!-- RUEDA MOVIL  -->
  <link name="caster_wheel">
    <visual>
      <!-- Rotamos el cilindro 90° alrededor del eje X para que su eje de giro sea el eje Y -->
      <origin xyz="0 0 0" rpy="0 0 0" />
      <!--1.5708-->
      <geometry>
        <mesh filename="file://$(find robot_description)/meshes/caster_wheel.stl" />
      </geometry>
      <material name="${caster_color}" />
    </visual>

    <collision>
      <!-- Misma rotación para colisión -->
      <origin xyz="0 0 -0.007" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.0075" length="0.015" />
      </geometry>
    </collision>

    <!-- Inercia orientada correctamente -->
    <xacro:inertial_cylinder mass="0.010" radius="0.0075" length="0.015"> <!-- 10g, 15mm diámetro = 7.5mm radio -->
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:inertial_cylinder>
  </link>

  <!-- Soporte de la rueda loca -->
  <joint name="caster_support_joint" type="continuous">
    <parent link="base_link" />
    <child link="caster_wheel_support" />
    <origin xyz="-0.075 0 -0.015" rpy="0 0 0" /> <!-- Posición del soporte de la rueda giratoria -->
    <axis xyz="0 0 1" />
  </joint>

  <link name="caster_wheel_support">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find robot_description)/meshes/caster_wheel_support.stl" />
      </geometry>
      <material name="${caster_color}" />
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.033 0.025 0.025" />
      </geometry>
    </collision>

    <xacro:inertial_box mass="0.020" x="0.033" y="0.025" z="0.025"> <!-- 20g -->
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:inertial_box>
  </link>


  <!-- Configuración de ros2_control para la interfaz de hardware -->
  <!-- El nombre "GazeboSystem" y el tipo "system" son estándar para la integración con Gazebo. -->
  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <!-- El plugin `gz_ros2_control/GazeboSimSystem` es el puente entre Gazebo y ROS 2 Control. -->
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>

    <!-- Definición de la junta de la rueda izquierda -->
    <joint name="left_wheel_joint">
      <!-- Interfaz de comando de velocidad: permite enviar comandos de velocidad a la junta. -->
      <command_interface name="velocity">
        <!-- Parámetros opcionales para límites de velocidad. Ajusta estos valores según tu robot. -->
        <param name="min">-1.046198</param>        <!-- Velocidad mínima (rad/s) -->
        <param name="max">1.046198</param>        <!-- Velocidad máxima (rad/s) -->
      </command_interface>
      <!-- Interfaz de estado de posición: permite leer la posición actual de la junta. -->
      <state_interface name="position"/>
      <!-- Interfaz de estado de velocidad: permite leer la velocidad actual de la junta. -->
      <state_interface name="velocity"/>
      <state_interface name="effort" />
    </joint>

    <!-- Definición de la junta de la rueda derecha -->
    <joint name="right_wheel_joint">
      <!-- Interfaz de comando de velocidad: permite enviar comandos de velocidad a la junta. -->
      <command_interface name="velocity">
        <!-- Parámetros opcionales para límites de velocidad. Ajusta estos valores según tu robot. -->
        <param name="min">-1.046198</param>        <!-- Velocidad mínima (rad/s) -->
        <param name="max">1.046198</param>        <!-- Velocidad máxima (rad/s) -->
      </command_interface>
      <!-- Interfaz de estado de posición: permite leer la posición actual de la junta. -->
      <state_interface name="position"/>
      <!-- Interfaz de estado de velocidad: permite leer la velocidad actual de la junta. -->
      <state_interface name="velocity"/>
      <state_interface name="effort" />
    </joint>
  </ros2_control>

  <!-- Configuración del plugin de Gazebo para ROS 2 Control -->
  <!-- Este plugin conecta las interfaces de hardware del URDF con Gazebo. -->
  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">

      <!-- Este parámetro le indica al plugin que cargue la descripción del robot desde el parámetro 'robot_description'. -->
      <!--<robot_param>robot_description</robot_param>-->
      <!-- ¡IMPORTANTE! Se ha ELIMINADO la línea <parameters>$(find control_robot)/config/controllers.yaml</parameters>
           Esta línea es la que causa que Gazebo intente parsear el archivo YAML de controladores,
           lo cual no es su función y genera el error "Cannot have a value before ros__parameters".
           El archivo controllers.yaml es cargado por el nodo ros2_control_node en el launch file. -->
      <parameters>$(find control_robot)/config/controllers.yaml</parameters>
    </plugin>
  </gazebo>

</robot>