<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!-- Link de la cámara -->
  <link name="cam_link">
    <visual>
      <origin xyz="0 0 -0.0024" rpy="${pi/2} 0 ${pi/2}"/>
      <geometry>
        <!-- Usar una caja simple si no hay mesh disponible -->
        <box size="0.025 0.024 0.009"/> <!-- 25mm x 24mm x 9mm -->
      </geometry>
      <material name="red"/>
    </visual>

    <collision>
      <origin xyz="0.00175 0 -0.0024" rpy="${pi/2} 0 ${pi/2}"/>
      <geometry>
        <box size="0.024 0.025 0.0083"/> <!-- 25mm x 24mm x 8.3mm-->
      </geometry>
    </collision>
    
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>

  <!-- Joint que conecta la cámara al base_link -->
  <joint name="cam_joint" type="fixed">
    <parent link="base_link" />
    <child link="cam_link" />
    <!-- 8cm hacia adelante y 2.5cm hacia arriba -->
    <origin xyz="0.08 0 0.025" rpy="0 0 0" />
  </joint>

  <!-- Link óptico de la cámara que representa el lente -->
  <link name="cam_optical_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>

  <!-- Joint óptico -->
  <joint name="cam_optical_joint" type="fixed">
    <!-- Las coordenadas son X horizontal, Y vertical, Z hacia adentro --> 
    <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}" />
    <parent link="cam_link" />
    <child link="cam_optical_link" />
  </joint>

  <!-- Configuración del sensor en Gazebo -->
  <gazebo reference="cam_link">
    <sensor name="RPiCamV2" type="camera">
      <always_on>1</always_on>
      <update_rate>25</update_rate>
      <visualize>true</visualize>
      
      <topic>camera</topic>
      <camera_camera_info_topic>camera_info</camera_camera_info_topic>
      <optical_frame_id>cam_optical_link</optical_frame_id>

      <camera name="IMX219">
        <horizontal_fov>1.085595</horizontal_fov>
        <lens>
          <intrinsics>
            <fx>530.47</fx>
            <fy>529.08</fy>
            <cx>319.5</cx>
            <cy>239.5</cy>
            <s>0</s>
          </intrinsics>
        </lens>
        <image> <!-- 640x480 mode -->
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.01</near>
          <far>25</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
    </sensor>
  </gazebo>

  <!-- Plugin de sensores para Gazebo -->
  <gazebo>
    <plugin
      filename="gz-sim-sensors-system"
      name="gz::sim::systems::Sensors">
      <render_engine>ogre2</render_engine>
    </plugin>
  </gazebo>

</robot>